/*
* styles.css
* Sarah Young
* October 24, 2016
* Custom CSS for CSCI3172 - Lab #3
*/
* {
    margin: 0;
}
html, body {
    min-height: 100%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 25em;
	background-color: #f1f1f1;	
	vertical-align:top;		
}

li {
	float:left;
}

li a {
	display: inline-block;
	color: black;
	padding: .5em 1em;
	text-decoration: none;
	text-align: center;
}	

li a.active {
	font-style: italic;
	color: #4C9256;
}	

li a:hover:not(.active) {
	font-style: italic;
	color: #4C9256;
}

h4{
	text-align: center;
}



.footer{
  width:100%;
  background-color: #4C9256;
  text-align: center;
  position: relative;
  bottom:0;
  left:0;
}

.footer ul{
	width: 100%;
}
.footer ul li{
	width: 100%;

}
.footer ul li a{
	color:white;
	padding: 0px;
}
.content{
	min-height: 100%;
}



